keypair_name                =
instance_type_master        = 
instance_type               = 
control_plane_instance_name = 
region                      = "us-east-1"
number_of_workers           = 
include_policy_ebs_csi_driver      = false
include                       = ["helm", "ebs-csi-driver"]